// Font
fontsize = 12px
// Colors
lightgrey = #989898
darkgrey = #1d1d1d
white = #f7f7f7
turquoise = #25D0F6
// Heights
h_footer = 6rem
// Breakpoints
pagewrapper = 1000px
w_phone = 400px
w_phone_xl = 550px
w_tablet = 780px
w_desktop = 1200px
w_desktop_lg = 1920px

@media (min-width: w_tablet)
  fontsize = 14px
  h_footer = 50px

@media (min-width: w_desktop)
  fontsize = 16px
  h_footer = 50px